 /*CSS'de yorum satırı böyle yazılır.command+shift+7 ile de yazılı bir kodu silmek istemeyip ama 
 ama çalışmasını da istemiyorsak yorum satırı yapabiliriz.*/
  body {background-color: beige;}/*arka plan rengi ayarlamak için.*/

h2 {
    color:darkslateblue;
    font-size:20px;
    text-transform: uppercase; /*Bütün harfleri büyük harf yapar. */
    font-family:Georgia, 'Times New Roman', Times, serif;/*font türünü değiştirmek için.*/
}
p {
    color:teal;
    font-size:30px;
}
ul {
    color:darkslategrey;
} 



