.card {
    transition: transform 0.3s; /*fare kartın üstüne geldiğindeki geçiş süresi bir anda büyümek yerine yumuşartarak büyüyor. */
    cursor: pointer;/*Farenin ok şklini el şekline dönüştürüyor */
}

.card:hover {/* bo hoover kısmı kullanıcının kartın üstüne geldiğinde bu özelliği çalıltırmasını sağlıyor.*/
    transform: scale(1.05); /*Burda diyoruz ki kartı orjinal boyutunun 1.05 katına çıkar*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
/*Bu üstteki iki özellik fare kartın üstünegelince onu öne çıkarıyor*/
.container {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 80px; 
}

#searchInput {
    border: 2px solid #9c61a6;
    background-color: rgba(255, 255, 255, 0.1) ;
    border-radius: 30px;/*kenarları ovalleştirmek için */
    color: grey; 
    font-weight: bold;      
    padding: 15px
}
.card {
    border: 1px solid #e0e0e0; 
    border-radius: 10px; /* Köşeleri ovalleştirmek için böyle yapıyoruz. */
}
.card-title {
    color: #6a1b9a; /* Logodaki Mor */
    font-weight: bold;
}
.card-text strong {
    color: #03a9f4; /* Logodaki Açık Mavi */
}
.text-muted {
    color: #777 !important;
}
.logo-box{
    text-align: right; /*bu classdaki her şeyi sağa yasladık*/
    margin-right: 30px; /* kenardan biraz boşluk bıraktık*/
}